* {
	padding: 0;
	margin: 0;
}


a {
	color: rgb(190, 62, 23);
}

body{
	background-color: rgb(248, 241, 147);
}

.section-title{
	color: rgb(148, 73, 12);
}

.logo{
	float: left;
}

.nav {
	float: right;
}
.header{
	padding: 30px;
	padding-bottom: 80px;
}
.zagalovok{
	margin:30px;
	margin-left: 120px;
}
.nv{
	margin-left: 30px;
	text-decoration: none;
	color: rgb(148, 73, 12);
}

section{
	max-width: 960px;
	margin: 0 auto;
}
.section-title{
	text-align: center;
	font-size: 36px;
	margin-bottom: 23px;
	margin-top: 30px;
}
.ssilki{
	margin-bottom: 13px;
	color: rgb(190, 62, 23);
}

table{
	border-spacing: 0px;
	width: 800px;
	height: 360px;
}

th{
	border: 1px solid black;
	border-spacing: 0px;
}

tr{
	background-color: rgba(228, 207, 18, 0.233);
}

.st{
	background-color: rgba(245, 146, 54, 0.486);

}
