header
{
    width: 100%;
    background-color: #247BA0;
    height: 285px;
    margin-bottom: 50px;
}

#nav
{
    background-color: #fff;
    width: 690px;
    height: 50px;
    float: right;
    border-radius: 0px 0px 0px 50px;
    padding: 22px 130px 23px 140px;
}

.nav-button
{
    display: inline-block;
    background-color: #247BA0;
    width: 220px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
    margin-right: 7px;
    padding-top: 10px;
    font-family: Arial;
    color: #fff;
}
